@import 'grid-config';

/**
*   SCSS Grid
*
*   Generated for: #{$column-count} columns with a #{$column-margin} margin
*
*/

* {
    box-sizing: border-box;
}

// Clear the row. (clear:both; on ::after only for browser compability)

.row {
    &::before,
    &::after {
        content: " ";
        display: table;
    }
    &::after {
        clear: both;
    }
}

[class*='col-'] {
    position: relative;
    display: block;
    float: left;
}

// Only add margin to columns that have a predecessor. (Not the first one!)

[class*='col-'] + [class*='col-'] {
    margin-left: $column-margin;
}

// Calculate each column width

@for $i from 1 through $column-count {
    .col-#{$i} {
        width: calc-column-width($i);
    }
}
